.ask {
    margin-bottom: 20px;
}

.ask_header {
    background: #00B050;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.ask_count {
    font-weight: bold;
}

.assessment_text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    height: 100%;
}

.assessment_text_no {
    color: #C00000;
}

.assessment_text_yes {
    color: #00B050;
}

.parent_emotion_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}